services:
  game-server:
    image: ghcr.io/flow-industries/game-server:latest
    ports:
      - "{{ game_port }}:{{ game_port }}"
    environment:
      REGION: {{ game_region }}
      MAX_PLAYERS: {{ game_max_players }}
    restart: always
    labels:
      - "wud.watch=true"
      - "wud.watch.digest=true"
      - "wud.trigger.include=gameupdate"
